# -----------------------
# | Pacchetti Python    |
# -----------------------
# Per installare i pacchetti sottostanti all'avvio, decommenta questa riga nel file "docker-compose.yml"!
# - ./entrypoint.sh:/entrypoint.sh
# poi ferma il container docker ($ docker-compose down) e riavvialo ($ docker-compose up -d).
# -----------------------

# Per il modulo auto_backup
# paramiko==2.7.2

# Per gli addons OCA
pycups>=2.0.1
asn1crypto>=1.4.0
codicefiscale>=0.9
elementpath>=2.5.0
mock>=4.0.0
openupgradelib>=3.0.0
unidecode>=1.3.0
xmlschema>=1.10.0
mako>=1.2.0

